## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [78]:
from datetime import datetime

print(datetime.now().replace(microsecond=0))

2022-08-16 00:31:00

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [2]:
import math

def area(radius):
    return math.pi * (radius ** 2)

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [79]:
def noDups(input_list):
    compare_list = list(set(input_list))
    
    if(compare_list == input_list):
        return True
    
    return False

noDups([1,2,3,3])

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [4]:
path_to_file = 'data/lil-wayne.txt'

file_handle = open(file=path_to_file)

data = file_handle.read().upper()

my_set = set(data)

my_dict = {}

for elem in my_set:
    my_dict[elem] = data.count(elem)
    
print(my_dict)

{'.': 26, 'A': 211, 'C': 60, '8': 6, ')': 12, '-': 6, 'E': 274, '9': 16, '(': 12, 'P': 39, 'L': 126, 'V': 20, '6': 3, ',': 37, '\n': 6, '2': 24, 'I': 185, 'R': 152, '!': 1, 'H': 122, '7': 7, ']': 14, ' ': 522, 'Y': 44, 'F': 44, 'J': 8, '0': 36, '3': 2, 'T': 180, 'X': 5, ';': 1, 'W': 63, 'M': 77, '4': 4, 'S': 152, '[': 14, 'G': 53, 'U': 66, 'K': 13, '—': 1, 'N': 165, 'O': 145, '5': 5, 'D': 74, 'B': 59, '1': 28}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [14]:
sorted(my_dict, key=my_dict.get, reverse=True)

[' ',
 'E',
 'A',
 'I',
 'T',
 'N',
 'R',
 'S',
 'O',
 'L',
 'H',
 'M',
 'D',
 'U',
 'W',
 'C',
 'B',
 'G',
 'Y',
 'F',
 'P',
 ',',
 '0',
 '1',
 '.',
 '2',
 'V',
 '9',
 ']',
 '[',
 'K',
 ')',
 '(',
 'J',
 '7',
 '8',
 '-',
 '\n',
 'X',
 '5',
 '4',
 '6',
 '3',
 '!',
 ';',
 '—']

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [21]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

list1.append(list1.pop(3) * list1[-1])

print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [23]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

new_list = []

for elem in original_list:
    if elem % 3 == 0:
        new_list.append(elem)
    
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [26]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

original_list.reverse()

print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [28]:
original_list = [1, 2, 3, 4, 5, 6, 7]

for i in range(0,len(original_list)):
    original_list[i] = original_list[i] ** 2
    
original_list

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [64]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for (x,y) in zip(list1, reversed(list2)):
    print(x, y)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [71]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

while '' in list_of_strings:
    list_of_strings.remove('')
        
print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [76]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

if 999 in sample_dict.values():
    print("true")
else:
    print("false")

true

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [13]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

## What was the oldest and youngest ages on the titanic?

## How many people embarked from station 'S'?